body { font-family: 'Plus Jakarta Sans', sans-serif; }
.parallax-bg { background-attachment: fixed; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.particle { position: absolute; pointer-events: none; opacity: 0.15; z-index: 0; }

/* Hero background */
.hero-bg {
  background-image: linear-gradient(rgba(244, 226, 37, 0.2) 0%, rgb(255, 240, 197) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuCbEDuwbE3Pcy5JDclR2cMtv9__hN4tHawEgiJzFEmGfPm5XORiQZ4PNvY8aznW4TCsAyHAQ2-b7zegc_93hHrDQPVxjhtp-CnmKHlrJ7FD2i4jozmEko9rd25nNWLtUIuqiuEUFs7Zgpn9sdexStRez4QOD7J5T1VxO40VgC_I4G57jVGS34jQHlmv4mKJcTsNy-O3057knAlvUQpbbcN7Uo_yFqw4vZzBznA-YCrulfNC71hWl1Jaop5DjrO95X4Q0xlmEFExRDXT");
}

.carousel-card {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0.96);
  filter: blur(6px);
  transition: opacity 0.4s ease, transform 0.4s ease, filter 0.4s ease;
}

.carousel-card.active {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
  z-index: 2;
}
/* Blur ke body saat popup aktif */
.blurred-bg {
  transition: filter 0.3s ease;
  filter: blur(4px);
}

/* Animasi scale & opacity untuk popup card */
#menu-popup > div {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#menu-popup.show > div {
  transform: scale(1);
  opacity: 1;
}

#menu-juice div, #menu-nonjuice div {
  transition: transform 0.2s, background-color 0.2s;
}

#menu-juice div:hover, #menu-nonjuice div:hover {
  transform: scale(1.03);      /* sedikit membesar */
  background-color: rgba(255,255,255,0.9); /* highlight ringan */
  cursor: pointer;             /* ganti kursor jadi pointer */
}

#menu-popup {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  background: transparent; /* biar area luar bisa diklik */
}



/* Minimal body height fix */
body { min-height: max(884px, 100dvh); }

.cursor-pointer { cursor: pointer; }

.navbar.shrink {
  padding: 0.5rem 1rem; /* lebih kecil */
}
.navbar.shrink h2 {
  font-size: 0.9rem; /* teks mengecil */
}

.navbar { transition: all 0.3s ease; }
